<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"><title>Editar Item · Ore & Basalt</title>
<link rel="stylesheet" href="/style.css">
<link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Karla:wght@400;700&family=IBM+Plex+Mono:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<h1>Editar item</h1>
<nav><a href="/items">Volver</a></nav>
<div class="card">
<form method="post" th:action="@{/items/{id}/update(id=${item.id})}">
  Nombre:<br><input name="nombre" th:value="${item.nombre}" required><br><br>
  Tipo:<br><input name="tipo" th:value="${item.tipo}"><br><br>
  Cantidad:<br><input type="number" name="cantidad" th:value="${item.cantidad}"><br><br>
  <button type="submit">Guardar</button>
</form>
</div>
</body>
</html>
